<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tudou.base.goods.mapper.GoodsBrandMapper" >
  <resultMap id="BaseResultMap" type="com.tudou.base.goods.entity.GoodsBrand" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="chn_name" property="chnName" jdbcType="VARCHAR" />
    <result column="eng_name" property="engName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="server_flag" property="serverFlag" jdbcType="TINYINT"/>
  </resultMap>
</mapper>