#win_mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999999999999999;
}

.loading {
    width: 160px;
    height: 56px;
    position: absolute;
    top: 40%;
    left: 40%;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    background: #000 url('/static/base/images/loading.gif') no-repeat 10px 50%;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

div {
    margin: 0px;
    padding: 0px;
}

html, body {
    border: 0px;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

.k-notification-error-info {
    background-color: rgba(255, 0, 2, 0.50);
    border-radius: 10px;
}

.k-notification-success-info {
    background-color: rgba(3, 255, 22, 0.50);
    border-radius: 10px;
}

.error-pass {
    background: url("/static/base/images/kendoui/error-icon.png") center left no-repeat;
    color: white;
    padding: 0 10px 0 50px;
    width: 180px;
    min-height: 90px;
    border-radius: 6px;
    margin-left: 10px;
}

.error-pass h3 {
    color: white;
    font-size: 1.6em;
    font-weight: normal
}

.success-pass {
    background: url("/static/base/images/kendoui/success-icon.png") center left no-repeat;
    color: white;
    padding: 0 10px 0 50px;
    width: 180px;
    min-height: 90px;
    border-radius: 6px;
    margin-left: 10px;
}

.success-pass h3 {
    color: white;
    font-size: 1.6em;
    font-weight: normal
}

.top-label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
}

.required {
    color: #ff0000;
}

.row {
    margin-bottom: 13px;
}

.k-button {
    padding: 2px 8px 2px 8px;
}

.k-input[readonly] {
    background-color: #eee;
}
/*
input[readonly]{
    background-color: #eee;
}*/
