<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tudou.crm.purchase.purchaseOrder.mapper.PurchaseOrderMapper">
    <resultMap id="BaseResultMap" type="com.tudou.crm.purchase.purchaseOrder.entity.PurchaseOrder">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR"/>
        <result column="from_order" property="fromOrder" jdbcType="VARCHAR"/>
        <result column="vendor_name" property="vendorName" jdbcType="VARCHAR"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="arrival_date" property="arrivalDate" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="server_flag" property="serverFlag" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_emp" property="createEmp" jdbcType="VARCHAR"/>
        <result column="create_emp_id" property="createEmpId" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_emp" property="modifyEmp" jdbcType="VARCHAR"/>
        <result column="modify_emp_id" property="modifyEmpId" jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="audit_emp" property="auditEmp" jdbcType="VARCHAR"/>
        <result column="audit_emp_id" property="auditEmpId" jdbcType="VARCHAR"/>
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP"/>
        <result column="delete_emp" property="deleteEmp" jdbcType="VARCHAR"/>
        <result column="delete_emp_id" property="deleteEmpId" jdbcType="VARCHAR"/>
        <collection property="purchaseOrderParts" javaType="ArrayList" column="id"
                    ofType="com.tudou.crm.purchase.purchaseOrder.entity.PurchaseOrderPart"
                    select="com.tudou.crm.purchase.purchaseOrder.mapper.PurchaseOrderPartMapper.findPurchaseOrderPartByPurchaseId"
                    fetchType="eager">
            <id column="id" property="id" jdbcType="VARCHAR"/>
            <result column="purchase_order_id" property="purchaseOrderId" jdbcType="VARCHAR"/>
            <result column="from_order_part" property="fromOrderPart" jdbcType="VARCHAR"/>
            <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
            <result column="goods_unit_id" property="goodsUnitId" jdbcType="VARCHAR"/>
            <result column="goods_unit_name" property="goodsUnitName" jdbcType="VARCHAR"/>
            <result column="goods_model" property="goodsModel" jdbcType="VARCHAR"/>
            <result column="purchase_amount" property="purchaseAmount" jdbcType="DECIMAL"/>
            <result column="receiving_amount" property="receivingAmount" jdbcType="DECIMAL"/>
            <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
            <result column="unit_price_rate" property="unitPriceRate" jdbcType="DECIMAL"/>
            <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
            <result column="total_price_rate" property="totalPriceRate" jdbcType="DECIMAL"/>
            <result column="remark" property="remark" jdbcType="VARCHAR"/>
            <result column="server_flag" property="serverFlag" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="create_emp" property="createEmp" jdbcType="VARCHAR"/>
            <result column="create_emp_id" property="createEmpId" jdbcType="VARCHAR"/>
            <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
            <result column="modify_emp" property="modifyEmp" jdbcType="VARCHAR"/>
            <result column="modify_emp_id" property="modifyEmpId" jdbcType="VARCHAR"/>
            <result column="rate" property="rate" jdbcType="DECIMAL"/>
        </collection>
    </resultMap>
    <select id="findPurchaseOrderById" resultMap="BaseResultMap">
        SELECT * FROM crm_purchase_order WHERE id = #{id}
    </select>
    <update id="updatePurchaseOrderStatusById">
        UPDATE crm_purchase_order SET status = #{receivingStatus} WHERE  id = #{id}
    </update>
</mapper>